<h2>Customer</h2>
<a href="#" onclick="javascript:window.history.back();">voltar</a>
<table>
	<tr>
		<td>Nome:</td>
		<td><%- data.name %></td>
	</tr>
	<tr>
		<td>Email:</td>
		<td><%- data.email %></td>
	</tr>
	<tr>
		<td>Cartão:</td>
		<td><%- data.numero_cartao %></td>
	</tr>
	<tr>
		<td>vencimento:</td>
		<td><%- data.data_expiracao %></td>
	</tr>
	<tr>
		<td>CCV:</td>
		<td><%- data.ccv %></td>
	</tr>
	<tr>
		<td>Email:</td>
		<td><%- data.email %></td>
	</tr>
	<tr>
		<td>Nome no cartão:</td>
		<td><%- data.nome_do_cartao %></td>
	</tr>
</table>