<h2>Protheus</h2>
<br/>
<form action="/customers/<%- data.id %>" method="POST">
	<table>
		<tr>
			<td>Nome:</td>
			<td><input id="name" type="text" name="name" value="<%- data.name %>"</td>
		</tr>
		<tr>
			<td>Email:</td>
			<td><input id="email" type="text" name="email" value="<%- data.email %>"</td>
		</tr>
		<tr>
			<td>Cartão:</td>
			<td><input id="numero_cartao" type="text" name="numero_cartao" value="<%- data.numero_cartao %>"</td>
		</tr>
		<tr>
			<td>vencimento:</td>
			<td><input id="data_expiracao" type="text" name="data_expiracao" value="<%- data.data_expiracao %>"</td>
		</tr>
		<tr>
			<td>CCV:</td>
			<td><input id="ccv" type="text" name="ccv" value="<%- data.ccv %>"</td>
		</tr>
		<tr>
			<td>Active:</td>
			<td><input id="active" type="text" name="active" value="<%- data.active %>"</td>
		</tr>
		<tr>
			<td>Nome no cartão:</td>
			<td><input id="nome_do_cartao" type="text" name="nome_do_cartao" value="<%- data.nome_do_cartao %>"</td>
		</tr>
		<tr>
			<td></td>
			<td><input type="submit" value="OK"></td>
		</tr>
	</table>
</form>